textarea {
    width:30%;
    height:90px;
    background-color:gold;
    color:olive;
    border:none;
    padding:2%;
    font:22px
}

h1 {
    color:#5FC610;
}

.title {
    background-image: 
    url('https://abm-website-assets.s3.amazonaws.com/ecnmag.com/s3fs-public/styles/hero/public/featured_image/2017/03/computer%20chip%20background%20blue.jpg?itok=3IEBN-gI');
    background-size: cover;
    text-shadow: 0 5px #000000;
    margin:0;
    padding: 0.025px 0;
}

input {
    background-color:yellowgreen;
    color:white;
    padding:5px;
    font-size:18px;
    border:none;
    padding:8px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color: #5FC610;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #111;
}

#title{
    float: center;
}

a {
    float: right;
    text-decoration: none;
    color: black;
}

a:hover {
    color: #5FC610;
}

a:active {
    color: black;
}

div#login {
    margin-top:-70px;
    position:relative;
}

.login {
    margin-top:-70px;
    position:relative;
    color: white;
    padding:0;
    margin-bottom:0;
}